<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ViewObjectAddress":"0x1067a3680"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-debug-views:///2e0bcdc30</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-debug-views</string>
				<key>type</key>
				<string>DBGViewDebuggerDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: Horizontal position is ambiguous for UIView.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ViewObjectAddress":"0x106760e00"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-debug-views:///2e0bcdc30</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-debug-views</string>
				<key>type</key>
				<string>DBGViewDebuggerDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: Horizontal position is ambiguous for UILabel - Gwefwefwe.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ViewObjectAddress":"0x1067955f0"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-debug-views:///2e0bcdc30</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-debug-views</string>
				<key>type</key>
				<string>DBGViewDebuggerDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: Horizontal position is ambiguous for UILabel - 0 дней.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ViewObjectAddress":"0x106788b50"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-debug-views:///2e0bcdc30</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-debug-views</string>
				<key>type</key>
				<string>DBGViewDebuggerDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: Horizontal position is ambiguous for UIButton - +.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ViewObjectAddress":"0x103d56570"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-debug-views:///2e150e2c0</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-debug-views</string>
				<key>type</key>
				<string>DBGViewDebuggerDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: Horizontal position is ambiguous for UIView.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
